{{ define "main" }}
   {{ partial "hero" .}}
   <main class="404-content">
      <div class="container">
         <h2>Uh oh.</h2>
         <h3>That page doesn't seem to exist.</h3>
         <p><a href="{{ .Site.BaseURL }}">Click Here</a> to go back the the home page.</p>
      </div>
   </main>
{{ end }}