<section id="about">
	<div class="home-about--columns">
		<article class="home-about--column-left">
			{{ with .GetPage "about" }}
			<div class="home-about--header">
				<h2 class="home-about--title">About PYXL Design</h2>
			</div>
			{{ $image := .Resources.GetMatch "images/thumbnail.jpg" }} {{ $image := $image.Resize "200x"}}
			<img class="home-about--image" src="{{ $image.Permalink }}" alt="Portrait of Chris Schultz - Owner of Pyxl Design." height="{{ $image.Height }}" width="{{ $image.Width }}" />
			{{- .Content -}} {{ end }}
		</article>
		<div class="home-about--column-right">
			<h2>What others have said</h2>
			<div class="home-about--review-list">
				{{ range where .Sections "Type" "testimonials" }} {{ range first 3 .RegularPages.ByWeight }}
				<article class="home-about--review">
					<div class="review--image-wrapper">
						{{ $thumbnail := .Resources.GetMatch .Params.thumbnail }} {{ $thumbnail := $thumbnail.Resize "105x"}}
						<img class="review--image" src="{{ $thumbnail.Permalink }}" height="{{ $thumbnail.Height  }}" width="{{ $thumbnail.Width }}" alt="" />
						<svg xmlns="http://www.w3.org/2000/svg" width="52.001" height="49.986" viewBox="0 0 52.001 49.986">
							<g transform="translate(40.001 38.451)">
								<path d="M11.441,39.2H7.346a12.545,12.545,0,0,1-2.015-.13A6.3,6.3,0,0,1,0,32.826V6.371A6.3,6.3,0,0,1,5.4,0h39.91A6.3,6.3,0,0,1,52,6.631V32.566a6.312,6.312,0,0,1-6.63,6.63H27.886a2.145,2.145,0,0,0-1.1.325L12.156,49.531l-.715.455Zm13.975-17.68H13.781a1.885,1.885,0,0,0-.585,3.64,3.315,3.315,0,0,0,1.04.13h23.14a1.755,1.755,0,0,0,1.365-1.56,1.82,1.82,0,0,0-1.95-2.145Zm-5.135-5.07h6.37a1.922,1.922,0,1,0,0-3.835H14.106A1.922,1.922,0,0,0,11.961,14.5a1.969,1.969,0,0,0,2.145,1.95Z" transform="translate(-40.001 -38.451)" fill="#5f5f5f" />
							</g>
						</svg>
					</div>
					<div class="review--content">{{ .Content }}</div>
					<address class="review--author" type="author">~ {{ .Title -}}</address>
				</article>
				{{ end }} {{ end }}
			</div>
		</div>
	</div>
</section>
