<section id="collections">
   <h2 class="section-heading">
      Pyxl Design Collections
   </h2>
   <p class="section-heading--sub">
      Unique modern templates created to give you that professional custom look without having to pay that custom price.
   </p>
   {{ range where .Sections "Type" "collections"  }}
      {{ range .Sections }}
         <div class="collection--row {{ lower .Name -}}-collection">
            <div class="container">
               <div class="collection--image-wrapper">
                  {{ range first 3 .RegularPages.ByWeight }}
                     {{ $thumbnail := .Params.thumbnail }}
                     {{ $thumbnail := .Resources.GetMatch $thumbnail }}
                     {{ $thumbnail := $thumbnail.Resize "430x"}}
                     <img class="collection--image" src="{{- $thumbnail.Permalink -}}" height="{{ $thumbnail.Height }}" width="{{ $thumbnail.Width }}" />
                  {{ end }}
               </div>
               <div class="collection--content">
                  <h2>
                     {{- .Title }} Collection
                  </h2>
                  <p>
                     {{- .Params.Description -}}
                  </p>
                  {{- partial 
                     "button.html" 
                     (dict 
                     "context" . 
                     "url" "/collections"
                     "ariaLabel" "Go to the Collections page."
                     "text" "Learn More" 
                  ) -}}
               </div>
            </div>
         </div>
      {{ end }}
   {{ end }}
</section>