<section id="home-hero--wrapper">
	<div class="home-hero--left">
		{{ $image := resources.Get "images/hero.jpg" }} {{ $image := $image.Resize "850x" }} {{ $imageOverlay := resources.Get "images/hero-overlay.png" }} {{ $imageOverlay := $imageOverlay.Resize "260x" }}
		<img src="{{ $image.Permalink }}" class="hero-image" alt="Dark background with white lines making a cursor." height="{{ $image.Height }}" width="{{ $image.Width }}" />
		<img src="{{ $imageOverlay.Permalink }}" height="{{ $imageOverlay.Height }}" width="{{ $imageOverlay.Width }}" class="hero-overlay" alt="Blue transparent squares to overlay cursor image." />
		<div class="home-hero--content">
			<h2 class="home-hero--sub-title">Beautifully crafted. Tailored to your needs.</h2>
			<h1 class="home-hero--title">Complete Website Solutions</h1>
			{{- partial "button.html" (dict "context" . "url" "#contact-form" "text" "Get a Quote" "btnClass" "center" ) -}}
		</div>
	</div>
	<div class="home-hero--right">
		{{ $heroRight := resources.Get "images/home/hero-right.jpg" }} {{ $heroRight := $heroRight.Resize "850x" }}
		<img src="{{ $heroRight.Permalink }}" height="{{ $heroRight.Height }}" width="{{ $heroRight.Width }}" alt="Macbook on black table showing Point West Website." />
		<ul class="hero-social--list">
			{{ range .Site.Params.social }}
			<li class="hero-social--item">
				<a class="hero-social--link" href="{{ .url }}" target="_blank">
					<i class="fab {{ .icon }}"></i>
					<span class="sr-only">{{ .name }}</span>
				</a>
			</li>
			{{ end }}
		</ul>
	</div>
</section>
