<ul id="scroll-indicator--list">
   <li class="scroll-indicator--item"><a href="/" class="scroll-indicator--link active"><span class="sr-only">Scroll to top.</span></a></li>
   <li class="scroll-indicator--item"><a href="#services" class="scroll-indicator--link"><span class="sr-only">Scroll to pyxl's services.</span></a></li>
   <!-- <li class="scroll-indicator--item"><a href="#collections" class="scroll-indicator--link"><span class="sr-only">Scroll to pyxl's collections.</span></a></li> -->
   <li class="scroll-indicator--item"><a href="#works" class="scroll-indicator--link"><span class="sr-only">Scroll to pyxl's works.</span></a></li>
   <li class="scroll-indicator--item"><a href="#about" class="scroll-indicator--link"><span class="sr-only">Scroll to read about pyxl.</span></a></li>
   <li class="scroll-indicator--item"><a href="#contact" class="scroll-indicator--link"><span class="sr-only">Scroll to pyxl's contact form.</span></a></li>
</ul>