<section id="services">
   <canvas id="service-canvas-bg"></canvas>
   <div class="container">
      <h2 class="section-heading">
         Pyxl Design Services
      </h2>
      <div class="service-tile--wrapper">
         {{ range $index, $elem := where .Site.RegularPages.ByWeight "Type" "services" }}
            {{ if lt $index 6 }}
               <div class="service-tile--card">
                  <div class="service-tile--icon-wrapper">
                     <svg class="service-tile--icon-background" xmlns="http://www.w3.org/2000/svg" width="187.652" height="117.043" viewBox="0 0 187.652 117.043">
                        <path class="cls-1" d="M93.9,268.339q45.036,0,90.072-.008a3.707,3.707,0,0,1,2.526.742,3.533,3.533,0,0,1-1.744,6.057,7.778,7.778,0,0,1-1.373.1q-89.591.006-179.183.006a3.966,3.966,0,0,1-3.313-1.2,3.266,3.266,0,0,1-.58-3.631,3.208,3.208,0,0,1,2.923-2.052c.319-.021.64-.007.96-.007H93.9" transform="translate(0 -158.19)" fill="#c2c9c8"/>
                        <path class="cls-1" d="M196.662,9.282c0-.26.007-.521-.011-.779a9.091,9.091,0,0,0-.487-2.582A8.856,8.856,0,0,0,187.623,0q-31.952,0-63.905,0h-17.1Q83.124,0,59.632,0a8.681,8.681,0,0,0-7.294,3.722,9.176,9.176,0,0,0-1.672,5.651q0,38.183,0,76.368c0,2.78-.027,5.559.007,8.339a9.138,9.138,0,0,0,3.992,7.669,9.391,9.391,0,0,0,5.671,1.611q62.526,0,125.052,0c1.019,0,2.036.014,3.056-.073a8.756,8.756,0,0,0,5.648-2.6,9,9,0,0,0,2.574-6.633q-.014-42.384-.006-84.767M189.557,94.13h0v.06c0,.035-.007.065-.008.1s0,.07-.009.1a2.007,2.007,0,0,1-2.02,2H187.5c-.047,0-.091.011-.139.011H60.057a2.309,2.309,0,0,1-.452-.045A1.811,1.811,0,0,1,57.8,94.385c-.007-.069-.011-.138-.013-.208,0-.005,0-.01,0-.015v0c0-.009,0-.018,0-.027V9.3a2.275,2.275,0,0,1,2.274-2.275H187.282A2.275,2.275,0,0,1,189.557,9.3Z" transform="translate(-29.864)" fill="#c2c9c8"/>
                        <path class="cls-2" d="M197.516,106.493H70.291a2.274,2.274,0,0,1-2.274-2.274V19.387a2.275,2.275,0,0,1,2.274-2.275H197.516a2.275,2.275,0,0,1,2.274,2.275v84.831a2.274,2.274,0,0,1-2.274,2.274" transform="translate(-40.098 -10.088)" fill="#fff"/>
                     </svg>
                     {{if isset .Params "icon" }}
                        {{ .Params.icon | safeHTML }}
                     {{ end }}
                  </div>
                  <h2 class="service-tile--title">
                     {{- .Title -}} <i class="fas fa-chevron-down"></i>
                  </h2>
                  {{- .Content -}}
               </div>
            {{ else }}
               <div class="service-tile--card service-tile--extra" aria-hidden="true">
                  <div class="service-tile--icon-wrapper">
                     <svg class="service-tile--icon-background" xmlns="http://www.w3.org/2000/svg" width="187.652" height="117.043" viewBox="0 0 187.652 117.043">
                        <path class="cls-1" d="M93.9,268.339q45.036,0,90.072-.008a3.707,3.707,0,0,1,2.526.742,3.533,3.533,0,0,1-1.744,6.057,7.778,7.778,0,0,1-1.373.1q-89.591.006-179.183.006a3.966,3.966,0,0,1-3.313-1.2,3.266,3.266,0,0,1-.58-3.631,3.208,3.208,0,0,1,2.923-2.052c.319-.021.64-.007.96-.007H93.9" transform="translate(0 -158.19)" fill="#c2c9c8"/>
                        <path class="cls-1" d="M196.662,9.282c0-.26.007-.521-.011-.779a9.091,9.091,0,0,0-.487-2.582A8.856,8.856,0,0,0,187.623,0q-31.952,0-63.905,0h-17.1Q83.124,0,59.632,0a8.681,8.681,0,0,0-7.294,3.722,9.176,9.176,0,0,0-1.672,5.651q0,38.183,0,76.368c0,2.78-.027,5.559.007,8.339a9.138,9.138,0,0,0,3.992,7.669,9.391,9.391,0,0,0,5.671,1.611q62.526,0,125.052,0c1.019,0,2.036.014,3.056-.073a8.756,8.756,0,0,0,5.648-2.6,9,9,0,0,0,2.574-6.633q-.014-42.384-.006-84.767M189.557,94.13h0v.06c0,.035-.007.065-.008.1s0,.07-.009.1a2.007,2.007,0,0,1-2.02,2H187.5c-.047,0-.091.011-.139.011H60.057a2.309,2.309,0,0,1-.452-.045A1.811,1.811,0,0,1,57.8,94.385c-.007-.069-.011-.138-.013-.208,0-.005,0-.01,0-.015v0c0-.009,0-.018,0-.027V9.3a2.275,2.275,0,0,1,2.274-2.275H187.282A2.275,2.275,0,0,1,189.557,9.3Z" transform="translate(-29.864)" fill="#c2c9c8"/>
                        <path class="cls-2" d="M197.516,106.493H70.291a2.274,2.274,0,0,1-2.274-2.274V19.387a2.275,2.275,0,0,1,2.274-2.275H197.516a2.275,2.275,0,0,1,2.274,2.275v84.831a2.274,2.274,0,0,1-2.274,2.274" transform="translate(-40.098 -10.088)" fill="#fff"/>
                     </svg>
                     {{if isset .Params "icon" }}
                        {{ .Params.icon | safeHTML }}
                     {{ end }}
                  </div>
                  <h2 class="service-tile--title">
                     {{- .Title -}} <i class="fas fa-chevron-down"></i>
                  </h2>
                  {{- .Content -}}
               </div>
            {{ end }}
         {{ end }}
      </div>
      {{- partial 
         "button.html" 
         (dict 
         "context" . 
         "id" "load-more-btn"
         "ariaLabel" "Load more services"
         "text" "Load More" 
         "btnClass" "center" 
         ) -}}
   </container>
</section>