<section id="works">
   <div class="section-header">
      <h2 class="section-heading">
         Pyxl Design works
      </h2>
      <p class="section-heading--sub">
      We’re proud of our work. Check it out. See something you like? We can do one like it for you, too.
      </p>
   </div>
   <div class="pyxl-slider--wrapper">
      <div id="pyxl-sliders--works" class="pyxl-slider owl-carousel">
         {{ range where .Sections "Type" "works" }}
            {{ range .RegularPages }}
               <div class="pyxl-slider--slide-wrapper">
                  <div class="pyxl-slider--slide">
                     {{ range $index, $image := first 3 ( .Resources.Match "images/works*" ) }}
                        {{ $image := $image.Resize "760x" }}
                        <img src="{{ $image.Permalink }}" alt="" height="{{ $image.Height }}" width="{{ $image.Width }}">
                     {{ end }}
                  </div>
               </div>
            {{ end }}
         {{ end }}
      </div>
      <canvas id="pyxl-slider--canvas" height="500px" width="1000px" ></canvas>
   </div>
</section>