<div id="faq">
   <div class="container">
      <h2 class="section-heading">
         FAQS
      </h2>
      <ul class="faq--list">
         {{ range  $index, $elemt := .Site.Params.faq }}
            <li id="faq--item-{{- $index -}}" class="faq--item" aria-controls="#faq--answer-{{- $index -}}" aria-expanded="false" tabindex="0">
               <span>{{- .question }}<i class="fas fa-chevron-down"></i></span>
                  <div id="faq--answer-{{- $index -}}" class="answer" aria-controled-by="faq--item-{{- $index -}}" aria-hidden="true">
                     {{- .answer -}}
                  </div>
            </li>
         {{ end }}
      </ul>
   </div>
</div>