<div class="collection--row">
   <h2 class="collection--title">{{- .Title }} Collection</h2>
   <div class="collection--description">{{- .Content -}}</div>
   <div class="collection--card-wrapper">
      {{ range .RegularPages }}
         <a class="collection--card" href="{{ .Permalink }}">
            {{ $thumbnail := .Params.thumbnail }}
            {{ $thumbnail := .Resources.GetMatch $thumbnail }}
            {{ $thumbnail := $thumbnail.Resize "350x" }}
            <img class="collection--card-image" src="{{ $thumbnail.Permalink }}" height="{{ $thumbnail.Height }}" width="{{ $thumbnail.Width }}" />
            {{ with .Params.collection }}
               <span>{{ . }}</span>
            {{ end }}
         </a>
      {{ end }}
   </div>
</div>