
{{ with .Site.Params.steps }}
   <div class="step--wrapper">
      {{ range $index, $step := . }}
         {{ with $step.pre }}
            <div class="step--next">
               {{ . | safeHTML }}
            </div>
         {{ end }}
         <div class="step">
            <div class="step--icon-wrapper">
               {{ with $step.icon }}
                  {{ . | safeHTML }}
               {{ end }}
            </div>
            <div class="step--text">
               {{- add $index 1 -}}. {{ with $step.text }}{{ . }}{{ end }}
            </div>
         </div>
      {{ end }}
   </div>
{{ end }}