//== Tablet Devices
@media screen and ( max-width: 1023px ) {

   //== Home Hero 
   #home-hero--wrapper {
      grid-template-columns: 1fr;
      .home-hero--left {
         height: auto;
         padding: 30px 0;
         text-align: center;
         min-height: 250px;
         .hero-image {
            object-position: center;
         }
      }
      .home-hero--content {
         height: auto;
         padding: 30px 0;
         text-align: center;
         min-height: 250px;
         h1 {
            font-size: 2.222em;
         }
         h2 {
            font-size: 1.558em;
         }
         .btn-wrapper {
            position: absolute;
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateY(50%);
            z-index: 120;
         }
      }
      .home-hero--right {
         height: 305px;
         overflow: visible
      }
      .hero-social--list {
         bottom: -20px;
         .hero-social--link {
            display: flex;
            height: 41px;
            width: 41px;
            font-size: 1.5em;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            text-decoration: none;
            background: #BC2A8D;
         }
      }
   }
   //== Section headings mobile
   .section-heading {
      font-size: 2.222em;
   }
   //== Services Mobile
   .service-tile--wrapper {
      grid-template-columns: repeat(auto-fill, 260px);
      justify-content: space-around;
   }
   //== Collections Row on Homepage Mobile
   #collections {
      .container {
         grid-template-columns: 1fr;
         gap: 80px;
      }
      .collection--content {
         max-width: 600px;
         margin: 0 auto;
      }
   }
   //== About Section Mobile
   #about {
      .home-about--columns {
         grid-template-columns: 1fr;
         margin: auto 30px;
      }
      .home-about--column-left {
         padding: 30px;
         border-right: 0 solid transparent;
         border-bottom: 1px solid #D5D5D5;
      }
      h2 {
         font-size: 1.5em;
      }
   }
   //== Subgpage hero Mobile
   .hero--wrapper {
      .hero--content {
         h1 {
            font-size: 2.222em;
         }
      }
   }
   //== Collections List Page Mobile
   .step--wrapper {
      max-width: 440px;
   }
   //== Collections Single Page Mobile
   #upper-content--wrapper {
      .upper-content {
         grid-template-columns: 1fr;
         column-gap: 0;
         row-gap: 30px;
         .upper-content--description {
            max-width: 780px;
            margin: 0 auto;
         }
      }
   }
   //== Contact Mobile
   #contact {
      .container {
         padding: 40px 30px;
         grid-template-columns: 1fr;
         grid-template-areas: 
            'Headings'
            'Form';
         background-size: 115px 115px;
         padding-bottom: 100px;
      }
      #contact-form {
         &:after {
            display: none;
         }
         #contact-form--submit-btn {
            position: relative;
            left: 0;
            right: auto;
            bottom: 0;
            margin: 0px;
            width: 122px;
         }
      }
   }
   //== Footer Mobile
   #global-footer {
      #to-top {
         margin-top: 30px;
         order: 3;
         width: 100%;
      }
      .footer-logo {
         order: 1;
      }
      .footer-social--list {
         order: 2;
         justify-content: flex-end;
         .social-link {
            display: flex;
            height: 41px;
            width: 41px;
            font-size: 1.5em;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            text-decoration: none;
            background: #BC2A8D;
         }
      }
   }
}

// Medium Devices
@media screen and (max-width: 768px) {
   //== Home Medium Devices
   #home-hero--wrapper {
      .home-hero--left {
         padding: 0 20px;
      }
   }
   //== Works Carousel Medium devices
   .pyxl-slider--wrapper {
      #pyxl-slider--canvas {
         bottom: 42%;
      }
   }
   //== Collections List Page Medium Devices
   #collections-page {
      #faq {
         .faq--list {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 0;
            li {
               width: 100%;
               max-width: 500px;
               margin: 0 auto 10px;
            }
         }
      }
   }
   //== Collections Single Medium Devices
   #collection-gallery {
      grid-template-columns: 1fr;
      .collection-gallery--thumbnail-list {
         display: flex;
         flex-wrap: wrap;
      }
   }
   .list-item--wrapper {
      .list-item--list {
         grid-template-columns: 1fr 1fr;  
      }
   }
   .steps--wrapper {
      .steps--item {
         grid-template-columns: 1fr;
      }
   }
   //== Contact Medium Devices
   #contact {
      #contact-form {
         input,
         textarea {
            padding: 15px 20px 13px;
         }
      }
   }
}
// Smaller Devices
@media screen and (max-width: 639px) {
   //== Home Small Devices
   #home-hero--wrapper {
      .home-hero--content {
         h1 {
            font-size: 1.667em;
         }
         h2 {
            font-size: 1em;
         }
      }
   }
   //== Section headings small devices
   .section-heading {
      font-size: 1.667em;
   }
   //== Services Small Devices
   .service-tile--wrapper {
      grid-template-columns: repeat(auto-fill, 260px);
      justify-content: space-around;
      .service-tile--card {
         p {
            display: none;
         }
         &:after {
            position: absolute;
            display: block;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: transparent;
         }
         .service-tile--title {
            line-height: 1.5;
            i {
               display: inline-block;
            }
            &.open {
               i {
                  transform: rotate(180deg);
               }
            }
         }
      }
   }
   //== Works Carousel Small devices
   .pyxl-slider--wrapper {
      padding: 0 10px;
      #pyxl-slider--canvas {
         display: none;
      }
   }
   //== About Section Smalle Devices
   #about {
      padding: 80px 0;
      .home-about--review-list {
         .home-about--review {
            grid-template-columns: 1fr;
            grid-template-areas:
            'image'
            'content';
            justify-content: center;
            text-align:center;
            gap: 25px;
            img {
               margin: 0 auto;
            }
            &:nth-child(2n) {
               grid-template-columns: 1fr;
               grid-template-areas:
               'image'
               'content';
               justify-content: center;
               text-align: center;
               svg {
                  left: calc(50% - 75px);
               }
            }
            svg {
               right: calc(50% - 75px);
               left: auto;
            }
         }
      }
   }
   //== Subgpage hero Small Devices
   .hero--wrapper {
      .hero--content {
         h1 {
            font-size: 1.667em;
         }
      }
   }
   //== Collections List Page Small Devices
   .step--wrapper {
      display: grid;
      .step--next {
         svg {
            transform: rotate(90deg);
            margin-bottom: 30px;
         }
      }
   }
   #collections-page {
      .collection--row {
         .collection--title {
            font-size: 1.667em;
         }
      }
   }
   //== Collections Single Page Small Devices
   .list-item--wrapper {
      .list-item--list {
         grid-template-columns: 1fr;  
      }
   }
   .steps--wrapper {
      .steps--item {
         text-align: center;
      }
   }
   //== Contact Section Small devices
   #contact {
      padding: 0;
      .contact--headings {
         h2 {
            font-size: 1.75em;
         }
      }
   }
   //== Footer Small Devices
   #global-footer {
      .footer-columns {
         justify-content: center;
      }
      .footer-logo {
         order: 2;
      }
      .footer-social--list {
         order: 1;
         width: 100%;
         justify-content: center;
         top: -20px;
      }
   }
}