.btn-wrapper {
   display: flex;
   justify-content: flex-start;
   &.center {
      justify-content: center;
   }
}
.btn {
   padding: 8px 15px;
   margin: 0;
   padding: 0;
   color: inherit;
   border: 0 solid transparent;
   background: transparent;
   text-decoration: none;
   &:hover,
   &:focus {
      text-decoration: none;
   }
}
.pyxl-btn {
   position: relative;
   color: #000;
   cursor: pointer;
   line-height: 1;
   border-radius: 4px;
   padding: 0;
   border: 0 solid transparent;
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   box-shadow: 0 3px 6px rgba(0,0,0,0.20);
   background: #fff;
   overflow: hidden;
   &:before {
      position: absolute;
      display: block;
      content: '';
      height: 0;
      width: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: #000;
      transition: width 0.5s ease-in-out, height 0.4s ease-in-out;
   }
   &:hover {
      &:before {
         height: 100%;
         width: calc(100% + 40px);
      }
      span {
         color: #fff;
      }
   }
   span {
      position: relative;
      color: #000;
      display: block;
      padding: 13px 28px;
      transition: all 0.5s ease-in-out;
   }
}