
#contact {
   position: relative;
   padding: 150px 30px;
   background: #F5F5F5;
   .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'Form Headings';
      gap: 50px;
      max-width: 1230px;
      padding: 95px 90px;
      margin: 0 auto;
      background: #ffffff;
      box-shadow: 0 3px 99px rgba(0,0,0,0.16);
      background-size: 249px 249px;
      background-repeat: no-repeat;
      background-position: 100% 100%;
   }
   .contact--confirmation {
      display: none;
      grid-area: Form;
      justify-content: center;
   }
   .contact--alert {
      font-size: 21px;
   }
   #contact-form {
      position: relative;
      display: grid;
      grid-area: Form;
      gap: 28px;
      &:before {
         position: absolute;
         display: block;
         content: '';
         height: 50%;
         width: 3px;
         left: 0;
         right: 0;
         top: 40px;
         margin: auto;
         background: #E6E6E6;
      }
      &:after {
         position: absolute;
         display: block;
         content: '';
         height: 3px;
         width: 50px;
         left: 100%;
         bottom: 100px;
         margin: auto;
         background: #E6E6E6;
      }
      label {
         position: relative;
      }
      input,
      textarea {
         position: relative;
         display: block;
         width: 100%;
         height: auto;
         color: #8E8E8E;
         font-size: 1.3em;
         padding: 26px 30px 24px;
         border: 3px solid #E6E6E6;
         border-radius: 8px;
         background: #FAFAFA;
      }
      #contact-form--submit-btn {
         position: absolute;
         display: block;
         color: #FFFFFF;
         cursor: pointer;
         left: calc(100% + 50px);
         bottom: 80px;
         padding: 10px 25px;
         border: 2px solid #0088A2;
         border-radius: 2px;
         background: #0088A2;
         text-transform: uppercase;
         transition: all 0.3s ease-in-out;
         &:hover,
         &:focus {
            color: #0088A2;
            background: #FFFFFF;
         }
      }
   }
   .contact--headings {
      display: block;
      max-width: 400px;
      grid-area: Headings;
      h2 {
         font-size: 2em;
         font-weight: bold;
         line-height: 1.5;
         margin: 0;
      }
      h3 {
         font-size: 1.4;
         font-weight: normal;
         color: #0088A2;
         margin-bottom: 10px;
      }
   }
}