#global-footer{
   position: relative;
   display: block;
   color: #FFF;
   background: #000;
   .footer-columns {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding: 50px 30px 25px;
      justify-content: space-between;
   }
   #to-top {
      display: block;
      color: inherit;
      font-size: 1.6em;
      margin: auto 0;
      cursor: pointer;
      align-self: flex-start;
      background: transparent;
      border: 0px solid transparent;
   }
   .footer-logo {
      position: relative;
      display: flex;
      gap: 10px;
      color: inherit;
      align-items: center;
      font-size: 1.6em;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-decoration: none;
      span {
         font-weight: bold;
      }
   }
   .footer-social--list {
      position: relative;
      display: flex;
      list-style: none;
      align-items: center;
      padding: 0;
      margin: 0;
      a {
         color: inherit;
         font-size: 1.8em;
      }
   }
   .footer-button {
      position: relative;
      width: 100%;
      order: 4;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      a {
         color: #aaa;
         font-size: 0.9em;
         text-decoration: none;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}