
//== Homepage
#home-hero--wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   .home-hero--left {
      position: relative;
      color: #fff;
      height: calc( 100vh - 110px);
      max-height: 1000px;
      text-align: center;
      background: linear-gradient(to left, #0088A2, #57C6D6 );
      .hero-image {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
         object-position: top left;
         opacity: 0.1;
      }
      .hero-overlay {
         position: absolute;
         left: -40px;
         bottom: 0;
      }
   }
   .home-hero--content {
      position: relative;
      display: grid;
      gap: 0px;
      height: 100%;
      padding: 20px;
      max-width: 100%;
      margin: 0 auto;
      align-content: center;
      justify-content: center;
      h1 {
         font-size: 50px;
         font-weight: 700; 
         margin: 30px 0px;
         text-shadow: 0 3px 6px rgba(0,0,0,0.2);
      }
      h2 {
         font-size: 35px;
         font-weight: 500;
         margin: 0;
         text-shadow: 0 2px 4px rgba(0,0,0,0.2);
      }
   }
   .home-hero--right {
      position: relative;
      height: calc( 100vh - 110px);
      max-height: 1000px;
      background: #000;
      overflow: hidden;
      img {
         position: relative;
         opacity: 0.8;
         height: 100%;
         width: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
   .hero-social--list {
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: flex;
      list-style: none;
      grid-area: SocialList;
      padding: 0;
      margin: 0;
      z-index: 10;
      .hero-social--link {
         color: #FFF;
         font-size: 1.8em;
      }
   }
}

//== Home Services
#services {
   position: relative;
   display: block;
   padding: 80px 0;
   &:before {
      position: absolute;
      display: block;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to right, transparent 25%, rgb(0, 136, 162));
      opacity: 0.28;
   }
   canvas {
      display: block;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      max-width: 100%;
      width: 100%;
   }
   .btn-wrapper {
      margin-top: 40px;
   }
}
.service-tile--wrapper {
   display: grid;
   gap: 30px;
   grid-template-columns: repeat(auto-fill, 315px);
   justify-content: space-between;
   .service-tile--card {
      position: relative;
      display: grid;
      text-align: center;
      align-content: flex-start;
      .service-tile--icon-wrapper {
         position: relative;
         display: block;
         padding: 10px 0; 
         .service-tile--icon {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
         }
         .service-tile--icon-background {
            margin: 20px auto 0px;
            .cls-1 {
               fill: #c2c9c8;
            }
         }
      }
      .service-tile--title {
         position: relative;
         font-size: 26px;
         font-weight: 300;
         color: #0088A2;
         margin: 10px 0;
         line-height: 1;
         i {
            poistion: relative;
            display: none;
            color: #333;
            transition: all 0.3s ease-in-out;
         }
      }
      &.service-tile--extra {
         display: none;
      }
   }
}

//== Section Styles
.section-heading {
   font-size: 3.125em;
   color: #000;
   font-weight: 500;
   letter-spacing: 5px;
   text-transform: uppercase;
   line-height: 1.25;
   text-align: center;
}
.section-heading--sub {
   position: relative;
   color: $primary--color;
   font-size: 18px;
   margin: 0 auto 80px;
   max-width: 750px;
   text-align:center;
}

//== Home Collections
#collections {
   position: relative;
   display: block;
   padding: 80px 0 0;
   .collection--row {
      padding: 60px 0;
      &.home-collection {
         background: linear-gradient(to right, #F5F0EA 0%, #fff 100%);
         .pyxl-btn {
            background: #EAC8A4;
            &:hover {
               span {
                  color: #EAC8A4;
               }
            }
         }
      }
   }
   .container {
      display: grid;
      width: 100%;
      max-width: 1140px;
      padding: 0 20px;
      margin: 0 auto;
      grid-template-columns: 590px 1fr;
      gap: 5vw;
      align-items: center;
   }
   .collection--image-wrapper {
      position: relative;
      height: 400px;
      width: 100%;
      max-width: 590px;
      margin: 0  auto;
      .collection--image {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         margin: auto auto 0;
         width: 430px;
         max-width: 80%;
         height: 240px;
         border-radius: 10px;
         border: 2px solid rgba(0,0,0,0.25);
         object-fit: cover;
         object-position: top center;
         z-index: 20;
         &:nth-child(2) {
            margin: auto auto auto 0;
            z-index: 15;
         }
         &:nth-child(3) {
            margin: 0 0 auto auto;
            z-index: 10;
         }
      }
   }
   .collection--content {
      display: grid;
      h2 {
         font-size: 35px;
         font-weight: 300;
         margin: 0;
      }
      p {
         margin: 20px 0;
      }
   }
}

//== Home Works
#works {
   position: relative;
   padding: 150px 0 65px; 
   overflow-x: hidden;
   &:before {
      position: absolute;
      display: block;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      height: 275px;
      width: 100%;
      background: linear-gradient(to right, #EAEAEA, #FFFFFF 50%, #EAEAEA);
      z-index: -1;
   }
   .section-heading--sub {
      margin: 0 auto;
   }
}
.pyxl-slider--wrapper {
   position: relative;
   padding: 0 40px;
   #pyxl-slider--canvas {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 50%;
      margin: auto;
      max-width: 760px;
      width: 100%;
      z-index: -1;
   }
   .pyxl-slider {
      position: relative;
      display: block;
      padding: 100px 0 25px;
      .owl-stage-outer {
         overflow: visible;
         .owl-item.active {
            z-index: 100;
         }
      }
      .owl-dots {
         position: relative;
         display: grid;
         grid-template-columns: repeat(auto-fit, 18px);
         list-style: none;
         padding: 0;
         margin: 40px 0 0;
         justify-content: center;
         gap: 25px;
         .owl-dot {
            position: relative;
            display: block;
            cursor: pointer;
            height: 18px;
            width: 18px;
            padding: 2px;
            border-radius: 100%;
            border: 1px solid #000;
            background: transparent;
            span {
               position: relative;
               display: block;
               content: '';
               height: 100%;
               width: 100%;
               border-radius: 100%;
               background: transparent;
            }
            &.active {
               span {
                  background: #0088A2;
               }
            }
         }
      }
      .owl-nav {
         [class*='owl-'] {
            position: absolute;
            cursor: pointer;
            top: 50%;
            color: #333;
            font-size: 50px;
            transform: translateY(-50%);
            transition: opacity 0.3s ease-in-out;
            opacity: 0.75;
            z-index: 1000;
            border: 0 solid transparent;
            box-shadow: 0 0 0 transparent;
            background: transparent;
         }
         .owl-next {
            right: 30px;
         }
         .owl-prev {
            left: 30px;
         }
      }
   }
   .pyxl-slider--slide-wrapper {
      position: relative;
      display: flex;
      max-width: 760px;
      margin: 0 auto;
   }
   .pyxl-slider--slide {
      position: relative;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      max-width: 100%;
      margin: auto;
      img {
         position: relative;
         width: 100%;
         height: auto;
         margin: auto;
         box-shadow:  0 0 30px rgba(0,0,0,0.3);
         &:first-child {
            position: absolute;
            width: 70%;
            top: 0;
            bottom: 0;
            left: -140px;
            transform-origin: right center;
            transform: perspective(1000px) rotateY(40deg);
         }
         &:nth-child(2n) {
            z-index: 10;
            transform: translate3d(0,0,360px);
         }
         &:last-child {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 70%;
            right: -140px;
            transform-origin: left center;
            transform: perspective(1000px) rotateY(-40deg);
         }
      }
   }
}

//== Home About
#about {
   position: relative;
   padding: 145px 0;
   &:before {
      position: absolute;
      display: block;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 145px;
      width: 100%;
      background: linear-gradient(to bottom, #DCF3F7, #FFFFFF);
   }
   .home-about--columns {
      position: relative;
      display: grid;
      padding: 0;
      margin: auto;
      grid-template-columns: 1fr 1fr;
   }
   [class*='home-about--column-'] {
      display: grid;
      padding: 50px 5vw;
   }
   .home-about--column-left {
      position: relative;
      display: grid;
      width: 100%;
      justify-content: center;
      text-align: center;
      padding: 50px 5vw;
      border-right: 1px solid #D5D5D5;
   }
   h2 {
      font-size: 2em;
      font-weight: bold;
      text-align: center;
   }
   .home-about--image {
      position: relative;
      height: 182px;
      width: 182px;
      margin: 10px auto 0px;
      border-radius: 100%;
      object-fit: cover;
      object-position: center;
   }
   .home-about--review-list {
      display: grid;
      gap: 30px;
      margin-top: 30px;
      .home-about--review {
         display: block;
         gap: 40px;
         align-items: center;
         grid-template-areas: 
            'image content';
         p {
            margin: 0;
         }
         &:nth-child(2n) {
            grid-template-areas: 
               'content image';
               text-align: left;
            svg {
               transform: scaleX(-1);
               left: -25px;
               right: auto;
            }
            div:first-child {
               float: right;
               margin-right: 0;
               margin-left: 30px;
            }
         }
         .review--image-wrapper {
            display: block;
            float: left;
            grid-area: image;
            position: relative;
            margin-right: 30px;
            svg {
               position: absolute;
               top: -20px;
               right: -25px;
            }
         }
         .review--image {
            display: block;
            height: 108px;
            width: 108px;
            border-radius: 100%;
            border: 3px solid $light-blue--color;
         }
         .review--content {
            grid-area: content;
         }
         .review--author {
            font-weight: bold;
            font-style: italic;
            margin-top: 10px;
         }
      }
   }
}

//== Scroll indicator
#scroll-indicator--list {
   position: fixed;
   display: grid;
   justify-content: center;
   left: 20px;
   bottom: 20px;
   gap: 16px;
   padding: 0;
   margin: 0;
   z-index: 999;
   &.colors li {
      &:first-child a {
         background: #94E9F5;
      }
      &:nth-child(2) a {
         background: #57C6D6;
      }
      &:nth-child(3) a {
         background: #009EC2;
      }
      &:nth-child(4) a {
         background: #0088A2;
      }
      &:nth-child(5) a {
         background: #005464;
      }
      &:nth-child(6) a {
         background: #014856;
      }
   }
   .scroll-indicator--item {
      display: block;
      margin: auto;
      .scroll-indicator--link {
         display: block;
         height: 14px;
         width: 14px;
         background: #FFF;
         transition: all 0.3s ease-in-out;
         &.active {
            height: 21px;
            width: 21px;
            transform: rotate(45deg);
         }
      }
   }
}