#pyxl-nav {
   position: relative;
   display: flex;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   padding: 30px;
   justify-content: space-between;
   background: #fff;
   z-index: 10000;
   &.affixed {
      position: fixed;
   }
}

.navbar-branding {
   display: flex;
   color: #000;
   align-items: center;
   text-decoration: none;
   font-size: 1.75em;
   font-weight: 300;
   letter-spacing: 3px;
   text-transform: uppercase;
   img {
      height: 50px;
      margin-right: 15px;
      object-fit: contain;
      object-position: cneter;
   }
   span {
      font-weight: 700;
   }
}
#primary-navbar-btn {
   cursor: pointer;
   border: 0 solid transparent;
   background: transparent;
   svg {
      height: 21px;
      width: 30px;
      path {
         fill: none;
         stroke: #000;
         stroke-linecap: round;
         stroke-linejoin: round;
         stroke-width: 3;
      }
   }
}
#primary-navbar {
   position: absolute;
   display: none;
   top: 100%;
   right: 0;
   height: calc(100vh - 110px);
   width: 100%;
   max-width: 500px;
   padding: 30px 40px;
   background: #fff;
   z-index: 1000;
}
.navbar {
   .navbar-nav {
      padding: 0;
      margin: 0;
      list-style: none;
      .nav-item {
         padding: 10px 0;
         a,
         .nav-link {
            position: relative;
            color: #000;
            font-size: 2em;
            font-weight: bold;
            text-decoration: none;
            &:before {
               position: absolute;
               display: block;
               content: '';
               top: 100%;
               left: auto;
               right: 0;
               height: 3px;
               width: 0;
               background: #0088A2;
               transition: all 0.3s ease-in-out;
            }
            &:hover:before {
               width: 100%;
               left: 0;
               right: auto;
            }
         }
      }
      .sub-nav--list {
         display: block;
         list-style: none;
         margin: 15px 0 0;
         .sub-nav--item {
            padding: 8px 0;
            .sub-nav--link {
               font-size: 1.5em;
               font-weight: 400;
            }
         }
      }
   }
}
