
//== Subpage hero
.hero--wrapper {
   position: relative;
   display: grid;
   padding: 100px 0;
   min-height: 400px;
   align-items: center;
   background: linear-gradient(to left, #0088A2, #57C6D6 );
   .hero--back-btn {
      position: absolute;
      display: flex;
      color: #fff;
      top: 40px;
      left: 60px;
      font-weight: 500;
      font-size: 24px;
      align-items: center;
      text-decoration: none;
      z-index: 50;
      &:hover {
         text-decoration: underline;
      }
      svg {
         margin-right: 8px;
      }
   }
   .hero--image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0.1;
   }
   .hero--overlay {
      position: absolute;
      left: -40px;
      bottom: 0;
   }
   .hero--content {
      position: relative;
      display: block;
      h1 {
         position: relative;
         color: #fff;
         font-size: 4.166em;
         font-weight: 700; 
         margin: 0px;
         text-align:center;
         text-transform: uppercase;
         letter-spacing: 6px;
         text-shadow: 0 3px 6px rgba(0,0,0,0.2);
      }
   }
   .hero--title {
      position: relative;
      color: #fff;
      font-size: 75px;
      font-weight: 700; 
      margin: 0px;
      text-align:center;
      text-transform: uppercase;
      letter-spacing: 6px;
      text-shadow: 0 3px 6px rgba(0,0,0,0.2);
   }
   .hero-social--list {
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: flex;
      list-style: none;
      grid-area: SocialList;
      padding: 0;
      margin: 0;
      z-index: 10;
      .hero-social--link {
         color: #FFF;
         font-size: 1.8em;
      }
   }
}

// Collections List Page
#collections-page {
   text-align: center;
   h2:not(.section-heading) {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 0;
      letter-spacing: 4px;
   }
   .container {
      display: block;
      margin: 125px auto 30px;
   }
   .collection--row {
      display: grid;
      text-align:center;
      justify-content: center;
      margin-top: 100px;
      width: 100%;
      .collection--title {
         font-size: 3.125em;
         letter-spacing: 6px;
         font-weight: 500;
         text-transform: uppercase;
         margin: 0 0 24px;
      }
      .collection--description {
         color: $primary--color;
         margin: 0 auto;
         p {
            margin: 0 0 50px;
         }
      }
   }
   .collection--card-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
      width: 100%;
      .collection--card {
         display: grid;
         color: #000;
         border: 1px solid #000;
         padding: 7px;
         max-width:350px;
         border-radius: 6px;
         text-decoration: none;
         transform: scale(1);
         transition: all 0.3s ease-in-out;
         background: #fff;
         .collection--card-image {
            width: 100%;
            height: auto;
            max-height: 400px;
            border-radius: 6px;
            object-fit: cover;
            object-position: top center;
         }
         span {
            display: block;
            text-transform: uppercase;
            padding: 30px 25px 23px;
            font-weight: 500;
         }
         &:hover {
            transform: scale(1.1);
         }
      }
   }
}
.step--wrapper {
   display: flex;
   flex-wrap: wrap;
   margin: 40px auto 0;
   justify-content: space-around;
   .step {
      display: grid;
      margin-bottom: 20px;
   }
   .step--icon-wrapper {
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      svg {
         height: 40px;
         width: auto;
      }
   }
   .step--text {
      display: block;
      font-weight: bold;
   }
   .step--next {
      display: flex;
      justify-content: center;
   }
}

//== FAQ
#faq {
   position: relative;   
   display: block;
   padding: 150px 0 140px;
   &:before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      height: calc( 100% + 50px );
      width: 100%;
      background: linear-gradient( to top, rgba(87,198,214,0.28) 0%, #fff 100%);
      z-index: -1;
   }
   .faq--list {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
      row-gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: flex-start;
      .faq--item {
         position: relative;
         display: grid;
         cursor: pointer;
         text-align: left;
         span {
            display: flex;
            color: #004451;
            font-size: 24px;
            font-weight: 500;
            line-height: 1;
            padding: 18px 0;
            justify-content: space-between;
            border-style: solid;
            border-width: 0 0 1px 0;
            border-color: #004451;
            transition: all 0.3s ease-in-out;
            i {
               transform: rotate(0deg);
               transition: transform 0.3s ease-in-out;
            }
         }
         &.open {
            i {
               transform: rotate(180deg);
            }
         }
         &:hover {
            span {
               color: #57C6D6;
               border-color: #57C6D6;
            }
         }
         .answer {
            display: none;
            margin-top: 20px;
         }
      }
   }
}

//== Collection Page
#upper-content--wrapper {
   background: #fff;
   .upper-content {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 300px;
      padding: 80px 0;
      column-gap: 30px;
      align-items: flex-start;
      z-index: 10;
   }
   .upper-content--description {
      display: grid;
      h2 {
         text-transform: uppercase;
         letter-spacing: 4px;
         margin: 0 0 20px;
         font-size: 30px;
      }
      p {
         margin: 0 0 20px;
      }
      .btn-wrapper {
         margin-top: 20px;
      }
   }
}
#lower-content--wrapper {
   position: relative;
   color: #fff;
   margin-top: -80px;
   background: $lower-content--gradient;
   .lower-content--overlay-wrapper {
      position: absolute;
      display: flex;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      align-items: flex-end;
      overflow: hidden;
      .lower-content--overlay {
         display: block;
      }
   }
   #lower-content--canvas-background {
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: auto
   }
   .lower-content--image-background-wrapper {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      overflow: hidden;
      .lower-content--image-background {
         position: fixed;
         display: block;
         top: 0;
         left: 0;
         height: 100vh;
         width: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
   .container {
      padding-top: 40px;
   }
}

//== Collection Gallery
#collection-gallery {
   display: grid;
   grid-template-columns: 75px 1fr;
   gap: 9px;
   .collection-gallery--thumbnail-list {
      display: grid;
      gap: 10px;
      align-content: flex-start;
      list-style: none;
      padding: 0;
      margin: 0;
      .collection-gallery--thumbnail {
         height: 75px;
         width: 75px;
         filter: grayscale(0.7);
         object-fit: cover;
         object-position: top center;
         transition: all 0.3s ease-in-out;
         &:hover, &.active {
            filter:grayscale(0);
         }
      }
   }
   .collection-gallery--image {
      display: none;
      width: 100%;
      height: auto;
      box-shadow: 0 3px 25px rgba(0,0,0,0.16);
      &.active {
         display: block;
      }
   }
}

//== List Items
.list-item--wrapper {
   display: grid;
   margin: 100px 0 0;
   .list-item--title {
      margin-top: 0;
      font-size: 1.667em;
      text-transform: uppercase;
   }
   .list-item--list {
      display: grid;
      padding: 0 40px;
      grid-template-columns: 1fr 1fr 1fr;
   }
   .list-item--item {
      padding: 10px 0;
      margin: 0 20px;
      font-size: 18px;
      font-weight: 500;
   }
}

//== Collection Page Steps
.steps--wrapper {
   display: grid;
   padding-bottom: 150px;
   .steps--item {
      display: grid;
      align-items: center;
      grid-template-columns: 150px 1fr;
      gap: 80px;
      margin-top: 125px;
   }
   .steps--icon-wrapper {
      display: flex;
      justify-content: center;
   }
   .steps--content {
      display: grid;
      font-size: 21px;
      h2 {
         font-size: 30px;
         margin: 0 0 20px;
         text-transform: uppercase;
      }
   }
}

//== Collections Page Lightbox
.lightbox--wrapper {
   position: fixed;
   display: none;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: rgba(0,0,0,0.85);
   z-index: 10000;
   .lightbox {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      .close-btn {
         position: absolute;
         display: flex;
         top: 0;
         right: 0;
         height: 30px;
         width: 30px;
         color: #fff;
         align-items: center;
         justify-content: center;
         font-size: 24px;
         border-radius: 3px;
         background: transparent;
         transition: all 0.3s ease-in-out;
         &:hover {
            color: $primary--color;
            background: #fff;
         }
      }
      .lightbox--inner {
         position: relative;
         max-width: 600px;
         border-radius: 3px;
         background: #FFF;
         overflow: hidden;
         .lightbox--header {
            background: $primary--color;
            padding: 0;
            margin: 0;
         }
         .lightbox--image {
            display: block;
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0;
         }
         .lightbox--content {
            padding: 15px 20px 30px;
            .pyxl-btn {
               color: #fff;
               background: $primary--color;
               span {
                  color: inherit;
               }
            }
         }
      }
   }
}