
body {
   font-family: 'Helvetica Neue', sans-serif;
   font-weight: $body-font-weight;
   font-size: $body-font-size;
   line-height: $body-line-height;
   &.fontLoaded {
      font-family: 'Poppins', 'Roboto', sans-serif;
   }
}

h1,h2,h3,h4,h5,h6 {
   line-height: 1.25em;
}

p {
   margin: 15px 0;
}