//== Typography
$body-font-size: 16px !default;
$body-font-weight: 300 !default;
$body-line-height: 1.75em !default;
//== Colors
$primary--color: #0087a2 !default;
$light-blue--color: #57C6D6 !default;
$lower-content--gradient: linear-gradient(to bottom, #0088A2 0%, rgba(0, 68, 81, 0.9) 100%) !default;