{{ if .id }}
   <div class="btn-wrapper {{ with .btnClass }}{{ . }}{{ end }}">
      <button id="{{ .id }}" aria-label="{{ with .ariaLabel }}{{ . }}{{ end }}" class="btn pyxl-btn">
         <span>{{ .text }}</span>
      </button>
   </div>
{{ else }}
   <div class="btn-wrapper {{ with .btnClass }}{{ . }}{{ end }}">
      <a href="{{ .url }}" aria-label="{{ with .ariaLabel }}{{ . }}{{ end }}" class="btn pyxl-btn">
         <span>{{ .text }}</span>
      </a>
   </div>
{{ end }}