<section id="contact">
	{{ $tiledBG := resources.GetMatch "images/tiled-bg.png" }} {{ $iledBG := $tiledBG.Resize "249x" }}
	<div class="container" style="background-image: url({{ $tiledBG.Permalink }});">
		<div class="contact--confirmation"></div>
		<form id="contact-form" name="contact" netlify>
			<label>
				<span class="sr-only">Name</span>
				<input required name="name" type="text" placeholder="Name" onChange="{this.handleOnChange}" />
			</label>
			<label>
				<span class="sr-only">Email</span>
				<input required name="email" type="email" placeholder="Email" onChange="{this.handleOnChange}" />
			</label>
			<label>
				<span class="sr-only">Message</span>
				<textarea name="message" require placeholder="Message" rows="6" onChange="{this.handleOnChange}"></textarea>
			</label>
			<button id="contact-form--submit-btn" type="submit" aria-label="Submit contact form to chris@pxyldesign.com">Submit</button>
		</form>
		<div class="contact--headings">
			<h3>Get Started.</h3>
			<h2>We're ready to put pyxls to work for you!</h2>
		</div>
	</div>
</section>
