{{- partial "contact.html" . -}}
<footer id="global-footer">
   <div class="footer-columns">
      <button id="to-top" aria-label="Scroll to top.">
         <i class="fas fa-arrow-up"></i>
      </button>
      <a href="{{ .Site.BaseURL }}" class="footer-logo">
         <svg id="Group_141" data-name="Group 141" xmlns="http://www.w3.org/2000/svg" width="62.469" height="49.72" viewBox="0 0 62.469 49.72">
            <path id="Path_64" data-name="Path 64" d="M177.414,7.348A16.4,16.4,0,0,0,168.928,1a18.792,18.792,0,0,0-5.467-1h-23.9V9.456a9.524,9.524,0,0,1,2.816-.345V2.817h21.046c.682.01,7.715.234,11.657,6.1a13.717,13.717,0,0,1-.313,15.647,14.1,14.1,0,0,1-9.545,5.477h-18.04l-.033,2.684,9.31.083V46.9H142.374V23.741c-.071.036-.142.071-.211.112a3.634,3.634,0,0,1-2.606.443V49.72h19.716V32.8h6.106l.159-.018a16.835,16.835,0,0,0,11.5-6.555,16.481,16.481,0,0,0,3.154-9.5V16.7a16.507,16.507,0,0,0-2.774-9.356" transform="translate(-117.72 0)" fill="#fff"/>
            <path id="Path_65" data-name="Path 65" d="M259.569,73.115a6.147,6.147,0,0,1-2.56,2.5,8.36,8.36,0,0,1-3.985.893h-5.039V62.334h5.039a8.522,8.522,0,0,1,3.985.873,6.043,6.043,0,0,1,2.56,2.469,8.272,8.272,0,0,1,0,7.439m-3.242-.341a5.187,5.187,0,0,0,0-6.766,4.91,4.91,0,0,0-3.543-1.2h-1.967v9.175h1.967a4.911,4.911,0,0,0,3.543-1.2" transform="translate(-209.182 -52.58)" fill="#fff"/>
            <rect id="Rectangle_6" data-name="Rectangle 6" width="10.914" height="10.914" transform="translate(10.914 10.935)" fill="#fff"/>
            <rect id="Rectangle_7" data-name="Rectangle 7" width="10.914" height="10.914" transform="translate(0 0.021)" fill="#fff"/>
            <rect id="Rectangle_8" data-name="Rectangle 8" width="10.914" height="10.914" transform="translate(21.827 0.021)" fill="#fff"/>
            <rect id="Rectangle_9" data-name="Rectangle 9" width="10.914" height="10.914" transform="translate(21.827 21.813)" fill="#fff"/>
         </svg>
         <span>Pyxl</span> Design
      </a>
      <ul class="footer-social--list">
         <li>
            <a class="social-link" href="https://www.instagram.com/pyxl.design/" target="_blank">
               <i class="fab fa-instagram"></i>
               <span class="sr-only">Pyxl design instagram feed.</span>
            </a>
         </li>
      </ul>
      <div class="footer-button">
         <a href="/privacy-policy">Privacy Policy</a>
      </div>
   </div>

   <!-- Font Awesome -->
   <script src="https://kit.fontawesome.com/13868fe086.js" crossorigin="anonymous"></script>
   
   {{ "<!-- Javascript -->" | safeHTML }}
   {{ $jquery := resources.Get "js/jquery.min.js"  }}
   {{ $custom := resources.Get "js/custom.js" }}
   <script src="{{ $jquery.Permalink }}" ></script>
   <script src="{{ $custom.Permalink }}" ></script>
  <link rel="preload" 
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap"
  as="style"
  onload="this.onload=null; this.rel='stylesheet'; document.body.classList.add('fontLoaded')">

</footer>