<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="theme-color" content="#FFFFFF" />
   <meta
     name="description"
     content="We are a boutique web design and development agency that does website design right. Stand out from the competition and look your best with thoughtful, effective web page designs created by professionals."
   />
   <meta property="og:url" content="{{ .Site.BaseURL }}" />
   <meta property="og:type" content="website" />
   <meta property="og:description" content="{{ .Page.Description }}" />
   {{ $image := resources.GetMatch "images/logo.png" }}
   <meta property="og:image" content="{{ $image.Permalink }}" />
   <title>{{ .Page.Title }}</title>

   {{ "<!-- Scripts and Styles -->" | safeHTML}}
   {{ $styles := resources.Get "css/main.scss" | resources.ToCSS | minify }}
   <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

   {{ "<!-- Google Analytics -->" | safeHTML }}
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-6MHQ6Y8Z6R"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-6MHQ6Y8Z6R');
   </script>
</head>