<section class="hero--wrapper">
	{{ with .Params.collection }}
	<a href="/collections" class="hero--back-btn">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17.39" height="21.3" viewBox="0 0 17.39 21.3"><path d="M19.7,7.1H5.6L9.9,2.8A1.6,1.6,0,0,0,9.9.5,1.7,1.7,0,0,0,7.6.5L.4,7.6v.2L0,8.3a1.8,1.8,0,0,0,0,.4V9l.2.5,7.3,7.4a1.626,1.626,0,0,0,2.3-2.3L5.6,10.3H19.7a1.65,1.65,0,0,0,0-3.3" fill="#fff" /></svg>
		Back to Collections
	</a>
	{{ end }} {{ $image := resources.Get "images/hero.jpg" }} {{ $image := $image.Resize "1500x" }} {{ $imageOverlay := resources.Get "images/hero-overlay.png" }} {{ $imageOverlay := $imageOverlay.Resize "260x" }}
	<img src="{{ $image.Permalink }}" class="hero--image" alt="Dark background with white lines making a cursor." height="1500px" width="1500px" />
	<img src="{{ $imageOverlay.Permalink }}" height="1000px" width="260px" class="hero--overlay" alt="Blue transparent squares to overlay cursor image." />
	<div class="hero--content">
		<h1 class="hero--title">
			{{ if isset .Params "collection" }} {{ with .Params.collection }} Pyxl Design Template:
			<br />
			{{ . }} {{ end }} {{ else }} {{ .Title }} {{ end }}
		</h1>
	</div>
	<ul class="hero-social--list">
		{{ range .Site.Params.social }}
		<li class="hero-social--item">
			<a class="hero-social--link" href="{{ .url }}" target="_blank">
				<i class="fab {{ .icon }}"></i>
				<span class="sr-only">{{ .name }}</span>
			</a>
		</li>
		{{ end }}
	</ul>
</section>
