{{ define "main" }}
   <div id="collections-page">
      {{ partial "hero.html" . }}
      <div class="container">
         {{ .Content }}
         {{ partial "collections/steps.html" . }}
         {{ range .Sections }}
            {{ partial "collections/rows.html" . }}
         {{ end }}
      </div>
      {{ partial "collections/faq.html" . }}
   </div>
{{ end }}