{{ define "main" }}
<div id="collection-page">
	{{ partial "hero.html" . }}
	<div id="upper-content--wrapper">
		<div class="container">
			<div class="upper-content">
				{{- partial "collection/gallery.html" . -}}
				<div class="upper-content--description">
					{{ with .Params.collection }}
					<h2>{{- . -}}</h2>
					{{ end }} {{ with .Params.description }}
					<p>{{- . -}}</p>
					{{ else }}
					<p>Description Coming soon...</p>
					{{ end }}
					<!-- Removing Pricing to purchase
               {{ with .Params.price }}
                  <h2>${{- . -}}</h2>
               {{ end }}
               <div id="paypal-button-container"></div>
               <script src="https://www.paypal.com/sdk/js?client-id=AVa2wAXTRDty3ZnEQjl-90MgoArbA3CEpULEG47IyN8SvPDJcYAOm4RKfpJvDzIOq-iBXoZjdWXT8JQB"></script>
               {{ $paypal := resources.Get "js/paypal.js" | js.Build (dict "params" ( dict "price" .Params.price "collection" .Params.collection )) }}
               <script src="{{ $paypal.Permalink }}"></script>
               -->
				</div>
			</div>
		</div>
	</div>
	{{- partial "collection/lower.html" . -}} {{- partial "partials/collection/lightbox.html" . -}}
</div>
{{ end }}
