<div id="collection-gallery">
	<ul role="nav" class="collection-gallery--thumbnail-list">
		{{ $images := string (delimit ( slice "images/" .Params.imagePrefix "*") "" )}} {{ range $index, $image := .Resources.Match $images }} {{ $image = $image.Resize "75x" }}
		<li class="collection-gallery--thumbnail-item">
			<img role="button" id="collection-gallery--thumbnail-{{- $index -}}" src="{{ $image.Permalink }}" alt="" class="collection-gallery--thumbnail{{ if eq $index 0 }} active{{ end }}" data-gallery-thumbnail="{{- $index -}}" height="{{ $image.Height }}" width="{{ $image.Width }}" aria-controls="#collection-gallery--image-{{- $index -}}" aria-haspopup="true" aria-expanded="{{- if eq $index 0 -}} false {{- else -}} true {{- end -}}" />
		</li>
		{{ end }}
	</ul>
	<div class="collection-gallery--images">
		{{ $images := string (delimit ( slice "images/" .Params.imagePrefix "*") "" )}} {{ range $index, $image := .Resources.Match $images }} {{ $image = $image.Resize "700x q100" }}
		<img id="collection-gallery--image-{{- $index -}}" src="{{ $image.Permalink }}" alt="" class="collection-gallery--image{{ if eq $index 0 }} active{{ end }}" data-gallery-image="{{ $index }}" height="{{ $image.Height }}" width="{{ $image.Width }}" aria-hidden="{{- if eq $index 0 -}} false {{- else -}} true {{- end -}}" />
		{{ end }}
	</div>
</div>
