<section id="thank-you" class="lightbox--wrapper" aria-hidden="true">
	<div class="lightbox">
		<article class="lightbox--inner">
			<button id="thank-you--close" class="close-btn btn" aria-controls="#thank-you" aria-expanded="true" aria-haspopup="true">
				<i class="fas fa-times"></i>
				<span class="sr-only">Close Modal</span>
			</button>
			<header class="lightbox--header">
				{{ $image := resources.Get "images/thank-you.jpg" }} {{ with $image }}
				<img src="{{ .Permalink }}" alt="" class="img-responsive lightbox--image" />
				{{ end }}
			</header>
			<div class="lightbox--content"></div>
		</article>
	</div>
</section>
