
<section class="list-item--wrapper">
   {{ with .title }}
      <h2 class="list-item--title">
         {{- . -}}
      </h2>
   {{ end }}
   {{ with .items }}
      <ul class="list-item--list" style='list-style-image: url({{ (resources.GetMatch "images/list-style.png").Permalink }});'>
         {{ range . }}
            <li class="list-item--item">{{- . -}}</li>
         {{ end}}
      </ul>
   {{ end }}
</section>