<section id="lower-content--wrapper">
	{{ with resources.GetMatch "images/hero-overlay.png" }} {{ $heroOverlay := . }} {{ $heroOverlay := $heroOverlay.Resize "260x" }}
	<div class="lower-content--overlay-wrapper">
		<img class="lower-content--overlay" src="{{ $heroOverlay.Permalink }}" height="{{ $heroOverlay.Height }}" width="{{ $heroOverlay.Width }}" />
	</div>
	{{ end }}
	<canvas id="lower-content--canvas-background" height="200" width="2000"></canvas>
	<div class="lower-content--image-background-wrapper">
		{{ with .Resources.GetMatch "images/background.webp" }} {{ $image := . }} {{ $image := $image.Resize "2000x" }}
		<img class="lower-content--image-background" src="{{ $image.Permalink }}" alt="" class="lower-content--image-background" height="{{ $image.Height }}" width="{{ $image.Width }}" />
		{{ end }}
	</div>
	<div class="container">
		{{ $collection := string ( delimit ( slice .Params.collection "includes:" ) " " ) }} {{ with .Params.includes }} {{- partial "collection/listItems.html" ( dict "items" . "title" $collection ) -}} {{ end }} {{ with .Params.addons }} {{- partial "collection/listItems.html" ( dict "items" . "title" "Need more? Consider these add-ons" ) -}} {{ end }} {{ with .Site.Params.subpageSteps }}
		<div class="steps--wrapper">
			{{ range . }}
			<div class="steps--item">
				<div class="steps--icon-wrapper">{{ .icon | safeHTML }}</div>
				<div class="steps--content">
					{{ with .title }}
					<h2>{{- . -}}</h2>
					{{ end }} {{ .content }}
				</div>
			</div>
			{{ end }}
		</div>
		{{ end }}
	</div>
</section>
